.fixed{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.hiltoLogin{
    background-color: #233754;
}
.hiltonAd{
    background-color: #233754;
    width: 100%;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hiltonAd__logo{
    margin: 1px;
    width: 100px;
}
.hiltonAd__logo:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    transform: scale(1.09);
}
.hiltonAd__buttonJoin{
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
}
.hiltonAd__buttonJoin:hover{
    color: #bca762;
}
.hiltonAd__buttonSignIn{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}
.hiltonAd__buttonSignIn:hover{
    color: #bca762;
}
.nav{
    background-color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.logoConrad{
    width: 200px;
}
.logoConrad:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    transform: scale(1.09);
}
.nav__ul{
    padding: 10px;
    gap: 20px;
    list-style: none;
    align-items: center;
    display: flex;
}
.nav__ul--li{ 
    text-align: center;
}
.nav-link{
    text-transform: uppercase;
    color: #bca762;
    text-decoration: none;
    font-size: 18px;
}
.transform{
    transition: all;
}
.nav-link:hover{
    color: #233754;
    transition: all 0.8s;
    transform: scale(1.08);
}
.header_image{
    width: 100%;
    min-height: 500px;
    margin-top: 146px;
}
.footer{
    font-size: 14px;
    padding: 10px;
    background-color: #233754;
    color: white;
}
.footerDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footerFollow{
    padding: 20px;
    width: 100%;
}
.location{
    padding: 20px;
    width: 100%;
}
.location a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.follow{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    gap: 2px;
}
.follow ul{
    list-style: none;
}
.conradInfo{
    padding: 20px;
    width: 100%;
}
.conradInfo a{
    color: white;
    text-decoration: none;
}
.conradInfo a:hover{
    text-shadow: 1px 1px 2px white;
}
.otherInfo{
    padding: 20px;
    width: 100%;
}
.otherInfo ul{
    list-style: none;
}
.otherInfo a{
    color: white;
    text-decoration: none;
}
.conradDeco{
    width: 200px;
    margin-top: 15px;
    content: center;
    margin-top: 20px;
}
.hiltonDeco{
    width: 100px;
    margin-top: 15px;
}
.footer__title{
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}
.footer{
    @include generateflex(column, center, center);
    align-items: center;
    text-align: left;

}
.footer__title-1{
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}
.location a:hover{
    text-shadow: 1px 1px 1px white;
}
.follow li img:hover{
    transform: scale(1.1);
}
.footer__text li:hover{
    text-shadow: 1px 1px 1px white;
}
.credit{
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
}
.credit a{
    text-decoration: none;
    color: white;
    font-style: italic;
}
.containerFooter{
    min-height: 30vh;
    padding: 25px 0px 35px;
}

.shadow-drop-2-tb {
	-webkit-animation: shadow-drop-2-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-tb 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes shadow-drop-2-tb {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }
@keyframes shadow-drop-2-tb {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
              box-shadow: 0 -12px 20px -12px rgba(0, 0, 0, 0.35), 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    }
  }


  