.explore{
    padding: 0px;
}
.heritage{
    background-image: url(../images/heritage.jpg);
    width: 33.333%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: map-get($styles, color3);
    padding: 15px;
    padding: 20px;
    @include generateflex(column,space-evenly, center);

    &:hover{
        transition: all 1.5s;
        transform: scale(1.02);
        border-radius: 4px;
    }

    &__title{
        font-size: 25px;
        text-transform: uppercase;
        margin: 10px;
        font-weight: 700;
    }

    &__button{
        background-color: map-get($styles, color3);
        border-radius: 4px;
        width: 280px;
        margin: 10px;
        padding: 10px;
        text-transform: uppercase;
        border-style: none;
        text-decoration: none;
        color: map-get($styles, color1);

        &:hover{
            background-color: map-get($styles, color1);
            color: map-get($styles, color3);
            transition: all 0.3s;
            transform: scale(1.05);
        }
    }
}

.motoNui{
    background-image: url(../images/motu-tapu-810x790.jpg);
    width: 33.333%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: map-get($styles, color3);
    padding: 15px;
    padding: 20px;
    @include generateflex(column,space-evenly, center);

    &:hover{
        transition: all 1.5s;
        transform: scale(1.02);
        border-radius: 4px;
    }

    &__title{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 10px;
    }
    &__button{
        background-color: map-get($styles, color3);
        color: map-get($styles, color1);
        border-radius: 4px;
        width: 280px;
        margin: 10px;
        padding: 10px;
        text-transform: uppercase;
        border-style: none;
        text-decoration: none;

        &:hover{
            background-color: map-get($styles, color1);
            color: map-get($styles, color3);
            transition: all 0.3s;
            transform: scale(1.05);
        }
    }
}


.waterAct{
    background-image: url(../images/activity.jpg);
    width: 33.333%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: map-get($styles, color3);
    padding: 15px;
    padding: 20px;
    @include generateflex(column,space-evenly, center);

    &:hover{
        transition: all 1.5s;
        transform: scale(1.02);
        border-radius: 4px;
    }
    &__title{
        font-size: 25px;
        text-transform: uppercase;
        margin: 10px;
        font-weight: 700;
    }
    &__button{
        background-color: map-get($styles, color3);
        color: map-get($styles, color1);
        border-radius: 4px;
        width: 280px;
        margin: 10px;
        padding: 10px;
        text-transform: uppercase;
        border-style: none;
        text-decoration: none;

        &:hover{
            background-color: map-get($styles, color1);
            color: map-get($styles, color3);
            transition: all 0.3s;
            transform: scale(1.05);
        }
    }  
}

.bodyCare{
    background-color: map-get($styles, color3);
    padding: 100px;
    @include generateflex(column, center, center);
    
    &__info{
        padding: 50px;
    }
}
.body__title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.body__text{
    font-size: 16px;
    padding: 20px;
    max-width: 650px;
}

.body__button{
    background-color:map-get($styles, color1);
    border-radius: 4px;
    color: map-get($styles, color3);
    width: 280px;
    margin: 10px;
    padding: 10px;
    text-transform: uppercase;
    border-style: none;
    text-decoration: none;
}
.body__button:hover{
    background-color: map-get($styles, color2);
    transition: all 0.3s;
    transform: scale(1.05);
}

.bodySpa{
    @include generateflex(row,space-evenly, center);
    padding: 25px;
    margin-bottom: 60px;

    &__img{
        max-width: 600px;
        border: solid white 6px;
    }
    &__title{
        font-size: 25px;
        text-transform: uppercase;
        margin: 10px;
        font-weight: 700;
    }
    &__info{
        margin: 10px;
        max-width: 500px;
        @include generateflex(column, center, center);
        gap: 20px;
    }
}

.bodyFitness{
    @include generateflex(row-reverse, space-evenly, center);
    padding: 30px;

    &__info{
        margin: 10px;
        max-width: 500px;
        @include generateflex(column, center, center);
        gap: 20px;
    }

    &__title{
        font-size: 25px;
        text-transform: uppercase;
        margin: 10px;
        font-weight: 700;
    }
}
.bodyFitness__title{
    font-size: 25px;
    text-transform: uppercase;
    margin: 10px;
    font-weight: 700;
}
.gather{
    padding: 100px;
    @include generateflex(column, center, center);

    &__img{
        max-width: 600px;
        border: solid white 6px;
    }
    &__title{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__text{
        font-size: 16px;
        padding: 20px;
        max-width: 650px;
    }
}

.gatherInfo{
    padding: 60px 0px 100px;
}


.gatherWedding{
    @include generateflex(row, space-evenly, center);
    padding: 30px;
    margin-bottom: 60px;

    &__info{
        margin: 10px;
        max-width: 500px;
        @include generateflex(column, center, center);
        gap: 20px;
    }

    &__title{
        font-size: 25px;
        text-transform: uppercase;
        margin: 10px;
        font-weight: 700;
    }

    &__button{
        background-color:map-get($styles, color2);
        border-radius: 4px;
        color: map-get($styles, color3);
        width: 280px;
        margin: 10px;
        padding: 10px;
        text-transform: uppercase;
        border-style: none;

        &:hover{
            background-color:  map-get($styles, color1);
            transition: all 0.3s;
            transform: scale(1.05);
        }
        & a{
            text-decoration: none;
            color: map-get($styles, color3);
        }
    }
}
.gatherEvent{
    @include generateflex(row-reverse, space-evenly, center);
    padding: 30px;

    &__info{
        margin: 10px;
        max-width: 500px;
        @include generateflex(column, center, center);
        gap: 20px;
    }
    &__title{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__button{
        background-color:map-get($styles, color2);
        border-radius: 4px;
        color: map-get($styles, color3);
        width: 280px;
        margin: 10px;
        padding: 10px;
        text-transform: uppercase;
        border-style: none;

        &:hover{
            background-color: map-get($styles, color1);
            transition: all 0.3s;
            transform: scale(1.05);
        }
        & a{
            text-decoration: none;
            color: map-get($styles, color3);
        }
    } 
}
