.host{
    background-color: map-get($styles, color3);
    @include generateflex(column,center, center);
    padding: 100px;

    &__title{
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 10px;
    }
    &__text{
        padding-top: 30px;
        font-size: 16px;
        max-width: 650px;
    }
}

.clean{
    display: flex;

    &_button{
        background-color: map-get($styles, color3);
        color: map-get($styles, color1);
        width: 280px;
        margin: 10px;
        padding: 10px;
        text-transform: uppercase;
        border-style: none;
        border-radius: 4px;
        text-decoration: none;

        &:hover{
            background-color: map-get($styles, color1);
            color: map-get($styles, color3);
            transition: all 0.5s;
            transform: scale(1.05);
        }
    }
    
}
.clean__service1{
    background-image: url(../images/clean.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: map-get($styles, color3);
    padding: 15px;
    text-align: center;
    padding: 20px;
    @include generateflex(column, space-evenly, center);

    &:hover{
        transition: all 1.5s;
        transform: scale(1.02);
        border-radius: 4px;
    }
    &--title{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
    &--text{
        max-width: 600px;
    }
}
.clean__service2{
    background-image: url(../images/travel.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: map-get($styles, color3);
    text-align: center;
    padding: 20px;
    @include generateflex(column, space-evenly, center);

    &:hover{
        transition: all 1.5s;
        transform: scale(1.02);
        border-radius: 4px;
    }

    &--text{
        max-width: 600px;
    }

    &--title{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
    }
}
.amenities{
    background-color: map-get($styles, color3);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;

    &__icons{
        padding: 30px;
        list-style: none;
        color: black;
        @include generateflex(row, center, flex-start);
        flex-wrap: wrap;  
        gap: 10px; 
        
        & li{
            padding: 8px;
            width: 15%;
        }   
    } 
    &__button{
        background-color:map-get($styles, color2);
        color: map-get($styles, color3);
        width: 280px;
        margin-top: 20px;
        padding: 10px;
        text-transform: uppercase;
        border-style: none;
        border-radius: 4px;

        &__button:hover{
            background-color:map-get($styles, color1);
            transition: all 0.5s;
            transform: scale(1.05);
        }
    } 
}
.contact{
    background-color: antiquewhite;
    padding: 100px;
    @include generateflex(column, center, center);

    &_title{
        font-size: 25px;
        text-transform: uppercase;
        font-weight: 700;
        margin: 20px 0px 30px;
    }

    &_text{
        font-size: 16px;
        padding: 0px 0px 20px;
        max-width: 650px;
    }

    & label{
        text-transform: uppercase;
    }
    &__button{
        background-color:map-get($styles, color1);
        color: map-get($styles, color3);
        width: 280px;
        margin-top: 20px;
        padding: 10px;
        text-transform: uppercase;
        border-style: none;
        border-radius: 4px;
    
        &:hover{
            background-color:map-get($styles, color2);
            color: map-get($styles, color3);
            transition: all 0.5s;
            transform: scale(1.05);
        }
    }
}

.nav__open{
    display: none;
    width: 30px;
}
.formContact{
    @include generateflex(column, space-evenly, center);
}
.reservationForm__div{
    min-width: 100%;
}
.modalLink{
    color: grey;
    
    &:hover{
        color: map-get($styles, color2);
    }
}
