*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}
ul{
    margin-bottom: 0rem;
    padding-left: 0rem;
}
p{
    margin-bottom: 0px;
}